@import "vars"
@import "mixins"

@import "components/block"


*
	+box-sizing()


@font-face 
	font-family: ProximaNova
	src: url(../font/ProximaNova-Light.woff)

html
	height: 100%

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary 
	display: block

body 
	font: 12px/18px ProximaNova, sans-serif
	height: 100%
	color: $mainFontColor

.wrapper 
	width: 100%
	min-height: 100%
	height: auto!important
	height: 100%


@import "blocks/header"

.content 
	padding: 0 0 100px

.footer
	margin: -100px auto 0
	min-width: 480px
	max-width: 1000px
	height: 100px
	background: #BFF08E
	position: relative
