.container, .container--stretch {
  padding: 8px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.container--stretch {
  padding: 0px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
  font-family: ProximaNova;
  src: url(../font/ProximaNova-Light.woff);
}
html {
  height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body {
  font: 12px/18px ProximaNova, sans-serif;
  height: 100%;
  color: #646464;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.main-color {
  color: #00aaff;
}

.header {
  background-color: #fafdff;
  height: 90px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.header__container {
  height: 100%;
  position: relative;
  align-items: center;
}
.header__container .header__triangle {
  color: #fafdff;
  font-size: 30px;
  transform: rotate(135deg);
  position: absolute;
  text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5);
  top: calc(100% - 11px);
  left: 18%;
}

.header__logo {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
}
.header__logo .logo-img {
  max-width: 100%;
  cursor: pointer;
}

.header__slogan {
  font-size: 32px;
}

.slogan__first-letter {
  border: 1px solid #00b3ff;
  border-radius: 8px;
  padding: 2px 8px;
}

.steps-block {
  background-color: #fff;
}

.steps__container {
  width: 35%;
  align-items: center;
}
.steps__container a.or-click {
  color: #00a9ff;
  margin: 8px 0;
}
.steps__container .step {
  width: 100%;
  font-size: 18px;
  padding: 16px;
  border: 1px solid #dde3e7;
  align-items: center;
  margin-bottom: 18px;
}
.steps__container .step-num {
  font-weight: bold;
  margin: 0 20px;
}
.steps__container .download-me {
  color: #00aaff;
  border-bottom: 1px solid #00aaff;
  padding-bottom: 1px;
  font-weight: bold;
  margin: 0 8px;
}

.text-bold {
  font-weight: bold;
  margin: 0 4px;
}

.download-btn {
  width: 100%;
  font-size: 18px;
  color: #fff;
  background-color: #00b1ff;
  padding: 30px;
  text-shadow: -2px -2px 4px #0099de;
  border-radius: 4px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-image: url(../images/down_big.png);
  background-repeat: no-repeat;
  text-transform: uppercase;
  background-position: 95% 50%;
  cursor: pointer;
}
.download-btn:hover {
  text-shadow: -2px -2px 2px #0099de;
}

.mac__container .mac__main-img {
  width: 100%;
}

.mac__image-container {
  justify-content: center;
}

.mac__downloads {
  width: 200px;
  height: 55px;
  color: #00aaff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/down_on_week.png);
  background-repeat: no-repeat;
  font-size: 48px;
  padding-top: 18px;
}

.mac__rating {
  width: 200px;
  height: 55px;
}

.partners {
  border-top: 1px solid #f1f7fa;
  margin-top: 40px;
  height: 95px;
  justify-content: space-around;
  padding: 30px 0;
}

.partner-container {
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.par-1 {
  background-image: url(../images/partners/par_1.png);
}
.par-1:hover {
  background-image: url(../images/partners/par_1_hover.png);
}

.par-2 {
  background-image: url(../images/partners/par_2.png);
}
.par-2:hover {
  background-image: url(../images/partners/par_2_hover.png);
}

.par-3 {
  background-image: url(../images/partners/par_3.png);
}
.par-3:hover {
  background-image: url(../images/partners/par_3_hover.png);
}

.par-4 {
  background-image: url(../images/partners/par_4.png);
}
.par-4:hover {
  background-image: url(../images/partners/par_4_hover.png);
}

.tools-icons {
  background-color: #f3f6f8;
}

.tools__heading {
  font-size: 24px;
  text-align: center;
  margin: 36px 0;
}

.icons__container {
  width: 70%;
}

.footer {
  margin: -100px auto 0;
  min-width: 480px;
  max-width: 1000px;
  height: 100px;
  background: #BFF08E;
  position: relative;
}
