.container, .container--stretch {
  padding: 8px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.container--stretch {
  padding: 0px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
  font-family: ProximaNova;
  src: url(../font/ProximaNova-Light.woff);
}
html {
  height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body {
  font: 12px/18px ProximaNova, sans-serif;
  height: 100%;
  color: #646464;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.header {
  background-color: #fafdff;
  height: 90px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.header__container {
  height: 100%;
  position: relative;
  align-items: center;
}
.header__container .header__triangle {
  color: #fafdff;
  font-size: 30px;
  transform: rotate(135deg);
  position: absolute;
  text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5);
  top: calc(100% - 11px);
  left: 18%;
}

.header__logo {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
}
.header__logo .logo-img {
  max-width: 100%;
  cursor: pointer;
}

.header__slogan {
  font-size: 32px;
}

.slogan__first-letter {
  border: 1px solid #00b3ff;
  border-radius: 8px;
  padding: 2px 8px;
}

.content {
  padding: 0 0 100px;
}

.footer {
  margin: -100px auto 0;
  min-width: 480px;
  max-width: 1000px;
  height: 100px;
  background: #BFF08E;
  position: relative;
}
